/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

/* Common Styles */
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
.container{
    padding: 156px;
}

h2{
    font-size: 70px;
    line-height: 80px;
    color: white;
    font-weight: 700;
    margin-bottom: 10px;
}
h3{
    font-weight: bold;
    font-size: 28px;
    line-height: 40px;
}
p{
    color: #6C6C6C;
    font-size: 16px;
}
button{
    background: #E02C6D;
    width: 168px;
    height: 44px;
    padding: 10px 24px;
    border: none;
   
}
button a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 16px;
}
/* Main Style Start */
header{
    background-color: #2D25A0;  
}
main {
    background: #2D25A0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header-contents{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.banner-image img{
    width: 600px;
    height: 480px;
    transition: ease-in .3s;  
    
}
.banner-image img:hover{
    width: 600px;
    height: 480px;  
    transform: rotate(10deg)
}
/* Player Style Start  */
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    grid-gap: 15px;
}
.player-container {
    padding: 85px 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-card{
    width: 330px;
    
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    margin-bottom: 27px;
    
}
.player-content{
    padding: 15px;
    
}
.img-container{
    overflow: hidden;
}
.player-content img{
    
    width: 100%;
    transition: 0.5s all ease-in-out;
}
.player-content img:hover{
    transform: scale(1.5);
   
}
.player-content h3{

}
.player-content p{
    
}
/* Club Section  */
.club-section {
    margin-top: 45px;
    display: flex;
    justify-content: center;
    background: #f9f9f9;
}
.club-content {
    margin: 70px 0;
}

.fixed-width {
    width: 1160px;
}
.club-text-content {
    text-align: center;
    color: black;
}
.club-text-content h4 {
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    color: #726f6f;
}
.club-text-content h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: black;
}
.club-table table {
    padding: 0 50px;
    width: 100%;
    margin-top: 30px;
}
.club-table table tr:nth-child(2n + 1) {
    background: lightblue;
}
.club-table table tr {
    text-align: center;
}
/* Upcoming Section Start  */
.upcoming-section {
    display: flex;
    justify-content: center;
}
.upcoming-content {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.upcoming-content h1 {
    font-weight: bold;
    font-size: 36px;
    line-height: 60px;
}
.upcoming-match {
    background: #483DE8;
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.match {
    text-align: center;
}
.match p {
    color: white;
    font-weight: 500;
    font-size: 24px;
}
/* Footer Section Start  */
.footer-section {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 70px;
}
.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-logo {
    display: flex;
    justify-content: center;
}
.footer-logo img {
    width: 60%;
    margin-top: 25px;
}
.footer-social a i {
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 50%;
}
.copyright {
    text-align: center;
    color: white;
    margin: 25px 0;
}